<%- include('partials/header.ejs') %>
<main>
    <div>
        <h1>Edit Book</h1>
        <img src="https://covers.openlibrary.org/b/isbn/<%= book.isbn %>-M.jpg" alt="cover">

        <form action="/edit/<%= book.id %>" method="POST" style="display: flex; flex-direction: column; width: 30%; gap: 5px;">

            <label for="title">Title: </label>
            <input name="title" value="<%= book.title %>" required>

            <label for="author">Author: </label>
            <input name="author" value="<%= book.author %>">

            <label for="rating">Rating: </label>
            <input type="number" step="0.5" name="rating" min="1" max="10" value="<%= book.rating %>">

            <label for="isbn">ISBN: </label>
            <input name="isbn" value="<%= book.isbn %>">

            <label for="notes">Notes: </label>
            <textarea name="notes"><%= book.notes %></textarea>

            <label for="date_read">Date Read: </label>
            <input type="date" name="date_read" value="<%= book.date_read.toISOString().split('T')[0] %>">

            <button type="submit">
                Update Book
            </button>

        </form>
    </div>
</main>
<%- include('partials/footer.ejs') %>