<%- include('partials/header.ejs') %>
<main>
    <div>
        <a href="/add">Add New Books</a>
    </div>

    <% books.forEach(book=> { %>
        <div>
            <img src="https://covers.openlibrary.org/b/isbn/<%= book.isbn %>-M.jpg" alt="cover">
            
            <h2>
                <%= book.title %>
            </h2>

            <p>
                Author: <%= book.author %>
            </p>

            <p>
                Rating: <b><%= book.rating %></b>/10
            </p>

            <p>
                <%= book.review %>
            </p>

            <div style="display: flex; gap: 20px;">
                <a href="/edit/<%= book.id %>">Edit</a>

                <form action="/delete/<%= book.id %>" method="post" onclick="return confirm('Delete this book?')">
                    <button type="submit">Delete</button>
                </form>
            </div>
            <hr>
        </div>
    <% }) %>
</main>
<%- include('partials/footer.ejs') %>